body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: hsl(0, 7%, 69%);
}

header {
    text-align: center;
    padding: 50px 20px;
    background: hsl(0, 10%, 92%);
    color: #956d6d;
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.typing {
    font-size: 18px;
    border-right: 3px solid hsl(0, 4%, 50%);
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(40, end) forwards, blink .7s infinite;

}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 360px;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.projects {
    padding: 40px;
    text-align: center;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: hsl(0, 10%, 92%);
    width: 180px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px hsl(309, 3%, 44%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: autoScroll 8s linear infinite;
    position: relative;
}

@keyframes autoScroll {
    0% {
        transform: translateX(500%);
        /* mulai dari kanan */
    }

    100% {
        transform: translateX(-500%);
        /* keluar kiri */
    }
}


.project-card:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 25px hsl(0, 14%, 68%);
}

.geser-kanan {
    width: 500px;
    height: 150px;
    position: relative;
    animation: kanan 8s;
}

@keyframes kanan {
    0% {
        left: 0;
    }

    100% {
        left: 90px;
    }
}

/* ===== CONTACT SECTION ===== */
.contact-section {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    background: hsl(0, 7%, 69%);
}

.contact-card {
    background: #fff;
    padding: 35px;
    max-width: 450px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgb(222, 214, 214);
    border-left: 6px solid hwb(0 58% 29%);
}

.contact-card h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: hsl(0, 29%, 58%);
}

.contact-text {
    color: lab(61.52% 10.53 3.93);
    font-size: 16px;
    margin-bottom: 25px;
}

/* Tombol */
.contact-btn {
    display: inline-block;
    padding: 12px 25px;
    background: hwb(0 29% 61%);
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px #d3aeae;
}

.contact-btn:hover {
    background: lab(60.31% 5.59 2.03);
    transform: translateY(-3px);
    box-shadow: 0 8px 18px #a79494;
}

/* Animasi */
.fade-up {
    animation: fadeUp 1.5s ease-out forwards;
    opacity: 0;
}

@keyframes fadeUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}